<div class="container">
    <div class="row">
       <div class="col-sm-12">
          <div class="titlepage">
             <h2>About us</h2>
             <p>It is a long established fact that a reader will be distracted by the readable content </p>
          </div>
       </div>
       <div class=" col-sm-12">
          <div class="about_box">
             <div class="row d_flex">
                <div class="col-md-5">
                   <div class="about_box_text">
                      <h3>Best INTERIOR Design</h3>
                      <p>There are many variations of passages of 
                         Lorem Ipsum available, but the majority 
                         have suffered alteration in some 
                         form, by injected humour,There are many 
                         variations of passages of 
                      </p>
                      <a class="read_more" href="Javascript:void(0)">Read More</a>
                   </div>
                </div>
                <div class=" col-md-7  pppp">
                   <div class="about_box_img">
                      <figure><img src="assets/images/about_img.png" alt="#" /></figure>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
