<div class="services_main">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Services</h2>
                <span>It is a long established fact that a reader will be distracted by the readable content </span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <ul class="nav nav-tabs md-tabs border_none" id="myTabMD" role="tablist">
                <li class="nav-item lisertab">
                   <a class="nav-link servi_tab active" id="home-tab-md" data-toggle="tab" href="#home-md" role="tab" aria-controls="home-md"
                      aria-selected="true">RESIDENTAL</a>
                </li>
                <li class="nav-item lisertab">
                   <a class="nav-link servi_tab" id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
                      aria-selected="false">RETAIL DESIGN</a>
                </li>
                <li class="nav-item lisertab">
                   <a class="nav-link servi_tab" id="contact-tab-md" data-toggle="tab" href="#contact-md" role="tab" aria-controls="contact-md"
                      aria-selected="false">SPACE ADAPTATION</a>
                </li>
             </ul>
             <div class="tab-content card back_bg" id="myTabContentMD">
                <div class="tab-pane fade show active" id="home-md" role="tabpanel" aria-labelledby="home-tab-md">
                   <div class="row">
                      <div class="col-md-4 col-sm-6 padding_0 margin_right20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img1.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 col-sm-6 padding_0 margin_top70p margin_right20 margin_left20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img2.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 col-sm-6 padding_0 margin_left20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img3.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 offset-md-8 col-sm-6 padding_0 margin_top170">
                         <div class="services margin_left60">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img4.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-6 margin_top40">
                         <a class="read_more " href="Javascript:void(0)">Read More</a>
                      </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="profile-md" role="tabpanel" aria-labelledby="profile-tab-md">
                   <div class="row">
                      <div class="col-md-4 col-sm-6 padding_0 margin_right20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img3.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 col-sm-6 padding_0 margin_top70p margin_right20 margin_left20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img2.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 col-sm-6 padding_0 margin_left20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img4.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 offset-md-8 col-sm-6 padding_0 margin_top170">
                         <div class="services margin_left60">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img1.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-6 margin_top40">
                         <a class="read_more " href="Javascript:void(0)">Read More</a>
                      </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="contact-md" role="tabpanel" aria-labelledby="contact-tab-md">
                   <div class="row">
                      <div class="col-md-4 col-sm-6 padding_0 margin_right20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img4.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 col-sm-6 padding_0 margin_top70p margin_right20 margin_left20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img2.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 col-sm-6 padding_0 margin_left20">
                         <div class="services">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img1.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-4 offset-md-8 col-sm-6 padding_0 margin_top170">
                         <div class="services margin_left60">
                            <div class="services_img">
                               <figure><img src="assets/images/service_img3.png" alt="#" />  </figure>
                               <div class="ho_dist">
                                  <span>Reader will be distracted</span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-sm-6 margin_top40">
                         <a class="read_more " href="Javascript:void(0)">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
