
<div class="container">
    
    <div class="col-sm-4 mx-auto mt-5">
        <h3><i class="fa fa-user" aria-hidden="true"></i> Login Here</h3>
        <hr/>
        <form>
            <label>Enter User Name:</label> 
            <input type="text" name="name" value="" placeholder="User Name..." class="form-control"/>
            <label>Enter Password:</label> 
            <input type="password" name="name" value="" placeholder="Password Here.." class="form-control"/>
            <input type="button" value="Login Here" class="btn btn-success"/>  &nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/Regiser">Register Here</a>
        </form>
        <br/>
    </div>
</div>