
<div class="container">
    
    <div class="col-sm-4 mx-auto mt-5">
        <h3><i class="fa fa-user" aria-hidden="true"></i> Login Here</h3>
        <hr/>
        <form #login="ngForm" (ngSubmit)="userLogin(login.value)">
            <label>Enter User Name:</label> 
            <input type="text" name="uname" placeholder="User Name..." class="form-control" ngModule/>
            <label>Enter Password:</label> 
            <input type="password" name="upassword" placeholder="Password Here.." class="form-control" ngModule/>
            <button class="btn btn-success"> Login</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/Regiser">Register Here</a>
        </form>
        
        <br/>
    </div>
</div>