
<body class="main-layout">
  <div class="loader_bg">
    <div class="loader"><img src="assets/images/loading.gif" alt="" /></div>
 </div>
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a routerLink="Home">Home</a>
    <a routerLink="About">About</a>
    <a routerLink="Contact">Services</a>
    <a routerLink="Service">Contact</a>
 </div>
 <header>
  <div class="head-top">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-2">
             <div class="logo">
                <a href="index.html"><img src="assets/images/logo_footer.png" /></a>
             </div>
          </div>
          <div class="col-sm-10">
             <ul class="email text_align_right">
               <li class="d_none"><a routerLink="Home" aria-hidden="true">Home</a></li>
               <li><a routerLink="About" aria-hidden="true">About</a></li>
               <li><a routerLink="Contact" routerLinkActive="active" aria-hidden="true">Contact</a></li>
               <li><a routerLink="Service" aria-hidden="true">Service</a></li>
               <li><a routerLink="ShowAllData" aria-hidden="true">UserList</a></li>
                <li class="d_none"> <a><i class="fa fa-map-marker" aria-hidden="true"></i>Location</a></li>
                <li class="d_none"> <a><i class="fa fa-phone" aria-hidden="true"></i>+71  1234567890</a></li>
                <li class="d_none"> <a routerLink=""><i class="fa fa-envelope" aria-hidden="true"></i>demo@gmail.com</a></li>
                <li class="d_none"> <a routerLink="Login"> Login <i class="fa fa-user" aria-hidden="true"></i></a> </li>
                <li class="d_none"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></li>
                <!-- <li> <button class="openbtn"><img src="assets/images/menu_btn.png"></button></li> -->
             </ul>
          </div>
       </div>
    </div>
 </div>
 </header>

 <router-outlet></router-outlet>


 <footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <ul class="social_icon text_align_center">
                  <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="reader">
                  <a href="index.html"><img src="assets/images/logo_footer.png" alt="#"/></a>
                  <p class="padd_flet40">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
               </div>
            </div>
            <div class="col-md-2 col-sm-6">
               <div class="reader">
                  <h3>Explore</h3>
                  <ul class="xple_menu">
                     <li><a routerLink="Home">Home</a></li>
                     <li><a routerLink="About">About</a></li>
                     <li><a routerLink="Contact">Services</a></li>
                     <li><a routerLink="Service">Contact</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div class="reader">
                  <h3>Recent Posts</h3>
                  <ul class="re_post">
                     <li><img src="assets/images/re_img1.jpg" alt="#"/></li>
                     <li><img src="assets/images/re_img2.jpg" alt="#"/></li>
                     <li><img src="assets/images/re_img3.jpg" alt="#"/></li>
                     <li><img src="assets/images/re_img4.jpg" alt="#"/></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div class="reader">
                  <h3>Contact Us</h3>
                  <p>It is a lon <br> g established fact that a reader will be distracted by the readable content of a page when looking at its </p>
               </div>
            </div>
         </div>
      </div>
      <div class="copyright text_align_center">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <p>Copyright 2022 All Right Reserved By Surya Bhai</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
</body>
