<div class="container">
    <div class="col-sm-10 mx-auto mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Ulist of userList">
                    <td>{{Ulist.id}}</td>
                    <td>{{Ulist.first_Name}} {{Ulist.last_Name}}</td>
                    <td>{{Ulist.email}}</td>
                    <td>{{Ulist.password}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="DeleteUser(Ulist.id)">Delete</button>&nbsp;&nbsp;&nbsp;
                        <a href="">Update</a>
                    </td>
                </tr>
            <tbody>

        </table>
    </div>
</div>