<div class="container">
    <div class="col-sm-4 mx-auto mt-5">
        <h3><i class="fa fa-user" aria-hidden="true"></i> Regiser Here</h3>
        <hr />
        <form #register="ngForm" (ngSubmit)="userRegister(register.value)">
            <div class="form-group" >
                <label>Enter Your Name:</label>
                <input type="text" name="Fname" placeholder="Enter Your Name..." class="form-control" ngModel/>
                <label>Email Id:</label>
                <input type="email" name="name" placeholder="Email Id.." class="form-control" ngModel/>
                <label>Enter Password:</label>
                <input type="password" name="Password" placeholder="Password Here.." class="form-control" ngModel/>
            </div>
            <button class="btn btn-default">Submit</button>
            <a routerLink="/Login">Login Here</a>
        </form>
        <br />
    </div>
</div>